* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Inter";
  color: #343a40;
  font-size: 24px;
  height: 100vh;
  width: 100%;
  background-color: #f4f5f7;
}

main {
  width: 100%;
  margin-top: 60px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  overflow: scroll;
  gap: 20px;
  border-top: 20px;
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
}
.contact-container {
  width: 50%;
}
.btn {
  background-color: #e9ecef;
  width: 100%;
  padding: 24px 0;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
}

.profile__img {
  width: 88px;
  height: 88px;
}

.media-links {
  display: flex;
  width: 26.25px;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 50px 0;
}
.mobile_avatar {
  visibility: hidden;
  position: absolute;
  right: 0;
}
.desktop_avatar {
  position: absolute;
  right: 20%;
}

.north {
  width: 80%;
  margin: auto;
}

.contact-header {
  width: 100%;
  font-family: "Inter";
  margin-bottom: 30px;
}

.contact-header h1 {
  letter-spacing: -0.02em;
  color: #101828;

}

.contact-header p {
  margin-top: 20px;
  letter-spacing: -0.02em;
  color: #475467;
}

.contact-details {
  display: inline-block;
  justify-content: space-between;
}

.input-item-label {
  display: block;
  margin-bottom: 5px;
  font-family: "Inter";
  color: #344054;
}

.input-items {
  width: 100%;
  margin-bottom: 24px;
  font-family: "Inter";
  color: #344054;
}

.items {
  display: flex;
  width: 100%;
  gap: 24px;
}

.input-item {
  display: block;
  width: 100%;
  padding: 12px 14px;
  font-weight: 400;

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  border: 1px solid #d0d5dd;
}

.form {
  width: 100%;
  font-family: "Inter";
}

.textArea {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #d0d5dd;

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-family: "Inter";
  color: #667085;
}

.btn-contact {
  background-color: #1570ef;
  margin-top: 20px;
  margin-bottom: 90px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: 1px solid #1570ef;
  padding: 12px 0;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.text-description {
  display: flex;
  gap: 10px;
  line-height: 24px;
  font-family: "Inter";
  border-radius: 5px;
  color: #475467;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .btn {
    font-size: 18px;
  }

  .footer {
    width: 90%;
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 20px 0;
  }

  .avatar {
    display: none;
  }

  .mobile_avatar {
    visibility: visible;
  }
  .desktop_avatar {
    visibility: hidden;
  }

  .north {
    visibility: visible;
    width: 90%;
  }
  
  .items {
    flex-direction: column;
    gap: 0px;
  }
  
}
